.register {
  background: #202020;
  padding: 70px 0;
}
.register__container {
  max-width: 396px;
  margin: auto;
}
.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0 30px;
}
.register__form {
  margin-bottom: 69px;
  width: 100%;
}
.register__nav {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 17px;
  margin-top: 16px;
}
.register__nav-text {
  color: #8b8b8b;
  margin: 0 6px 0 0;
}
.register__nav-link {
  text-decoration: none;
  color: #4285f4;
  cursor: pointer;
  transition: opacity 0.5s;
}
.register__nav-link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .register {
    padding: 232px 0;
  }
}
@media screen and (max-width: 767px) {
  .register {
    padding: 56px 30px 30px;
  }
}
@media screen and (max-width: 767px) {
  .register__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .register__form {
    margin-bottom: 157px;
  }
}
@media screen and (max-width: 767px) {
  .register__title {
    margin: 50px 0 70px;
  }
}
@media screen and (max-width: 767px) {
  .register__nav {
    font-size: 12px;
    line-height: 15px;
    margin-top: 14px;
  }
}
